<!-- templates/locations.html -->
{% extends "base.html" %}

{% block title %}Locations – Home CMMS{% endblock %}

{% block content %}
<h2>Locations</h2>

<p>Locations are shown in a hierarchy from estate down to rooms and sub‑areas.</p>

{% macro render_locations(nodes) %}
<ul>
  {% for loc in nodes %}
    <li>
      {% if loc.active %}
        <span class="badge running">Active</span>
      {% else %}
        <span class="badge out-of-service">Inactive</span>
      {% endif %}

      <a href="/locations/{{ loc.id }}/edit">{{ loc.name }}</a>

      {% if loc.description %}
        <span class="loc-desc">– {{ loc.description }}</span>
      {% endif %}

      {% if wo_counts.get(loc.id) %}
        <a href="/work_orders?location={{ loc.name }}">
          <span class="badge high">{{ wo_counts[loc.id] }} WO{{ 's' if wo_counts[loc.id] > 1 }}</span>
        </a>
      {% endif %}

      {% if loc.children %}
        {{ render_locations(loc.children) }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endmacro %}

<div class="location-tree">
  {{ render_locations(locations) }}
</div>


<p>
  <a href="/locations/new">Add a new location</a>
</p>
{% endblock %}
